<div class='about-container'>
	<h1 id="about-h1">About</h1>
		<b>Materials Creative Co.</b> is a company dedicated to finding really awesome
		t-shirts that you'll actually want to wear! The idea came to be when I went
		to a clothing store years ago never finding anything <strong>I would actually
		want to wear.</strong> This lack of awesomeness lit a fire to start making my own
		t-shirts while learning screen printing at home.

		Thrifting was also another fun adventure, but that takes a lot of time
		sifting through all the hand-me-downs at Goodwill, plus there is no guarantee
		you'll actually find something.

		Which led me to make a website where, I and my friends, could express what we
		thought was cool and consumable.

		<b>Materials Creative Co.</b> is a website where a user can view t-shirts, find
		t-shirts, and have the ability to upload their own to demonstrate their
		awesome t-shirt style.
</div>
