<div class='contact-container'>
	<h1 id="contact-h1">Contact</h1>
		Please email
		<strong><a href="mailto:joshseipel@gmail.com?Subject=Inquiry%20To%20Materials%20Creative%20Co." target="_blank" id="contact-email">Materials Creative Co.</a></strong> if you have questions or any concerns.
</div>

