<h1>Users Show Page</h1>

<pre>{{$ctrl}}</pre>

<div>


</div>

<a ui-sref="shirtsNew({id: users.id})">Add a shirt!</a>
<a ui-sref="shirtsEdit({id: users.id})">Edit shirt!</a>
<a ui-sref="/api/users/{{ {id: users.id} }}" data-method="DELETE" data-confirm="Are you sure?">Delete</a>


<!-- <a ui-sref="shirtsShow({id: shirt.id })"></a> -->

<!-- <td><a ui-sref="usersEdit({id: users.id})">Edit</a></td> -->
<!-- <td><a href="/api/users/{{ note.id }}" data-method="DELETE" data-confirm="Are you sure?">Delete</a></td> -->

<div class="shirts-body-page-container">
	<!-- Main Container for all divs on page -->


	<div ng-repeat="shirt in $ctrl.shirts" class="main-test-container">
		<div class="test-container">
			<div class="shirt-container">
				<img class="shirt" ng-src="{{ shirt.image }}"/>
			</div>

<!-- Add the shirt buttons class to the shirts show page -->
		<div class='shirt-buttons'>
			<div class="shirt-link-container">
				<button class="main-shirt-buttons"><a class="share-link" href="www.facebook.com">Share!</a></button>
			</div>
			<div class="shirt-link-container">
				<button class="main-shirt-buttons"><a class="shirt-link" href="{{ shirt.url }}">Find Me!</a></button>
			</div>
			<div class="shirt-link-container">
				<button class="main-shirt-buttons"><a class="comment-link" href="#">Comments!</a></button>
			</div>
		</div>
		<div class="shirt-details-container">
			<div class="test-inside-container">
				<div class="name-bio-icon-container">
					<div class="shirt-name-container">
						<h2 id="shirt-name-text">Name: {{ shirt.name }}</h2>
					</div>
					<div class="shirt-bio-container">
						<h2 id="shirt-bio-text">Bio: {{ shirt.bio }}</h2>
					</div>
				</div>
				<div class="font-awesome-icon">
					<i class="fa fa-star fa-lg"></i>
				</div>
			</div>
		</div>
	</div>
</div>



