* {
	box-sizing: border-box;
}

body {
		background: lightblue;

	h1 {
		font-family: Arial, sans-serif;
		color: red;

	}

	.shirts-body-page-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;


	}

	.main-test-container {
		display: flex;
		justify-content: center;
		margin: 10px 1px;
		padding: .5rem;
		max-width: 600px;
		background: yellow;


	}

 	.test-container {
 		display: flex;
 		align-items: flex-start;
 		justify-content: center;
 		flex-wrap: wrap;
 		box-sizing: border-box;
 		max-height: auto;
 		margin: 10px 0px;
 		border: 20px solid black;
 		background: orange;

 	}

 	.test-inside-container {
 		display: flex;
 		align-items: center;
 		justify-content: flex-start;
 		width: 100%;
 		background: red;


 	}

 	img.shirt {
 		max-width: 400px;
 		max-height: 400px;
 		border: 2px solid black;
 	}

 	.shirt-details-container {
 		display: flex;
 		align-items: center;
 		justify-content: center;
 		background: pink;
 		width: 100%;
 		height: 200px;
 	}

 	.shirt-name-container {
 		background: white;
 	}

 	.shirt-bio-container {
 		background: lightgreen;
 	}

 	.shirt-link-container {
 		background: gray;
 	}

 	.shirt-link {
 		color: blue;
 	}
}
