* {
	box-sizing: border-box;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Quicksand', sans-serif;*/
	/*font-family: 'Karla', sans-serif;*/
	/*font-family: 'Hind Siliguri', sans-serif;*/
	/*font-family: 'Heebo', sans-serif;*/
	/*font-family: 'Didact Gothic', sans-serif;*/
	/*font-family: 'Julius Sans One', sans-serif;*/
	/*font-family: 'Pragati Narrow', sans-serif;*/
	/*font-family: 'Antic', sans-serif;*/
	margin: 0;
}

body {
		background: lightblue;
	}

	h1 {
		font-family: Arial, sans-serif;
		color: red;

	}

	.shirts-body-page-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;


	}

	.main-test-container {
		display: flex;
		justify-content: center;
	/*	margin: 10px 1px;*/
		padding: .5rem;
		max-width: 40rem;
		/*background: yellow;*/


	}

 	.test-container {
 		display: flex;
 		align-items: flex-start;
 		justify-content: center;
 		flex-wrap: wrap;
 		box-sizing: border-box;
 		max-height: auto;
 		/*margin: 10px 0px;*/
 		border: 20px solid black;
 		background: orange;

 	}

 	.test-inside-container {
 		display: flex;
 		align-items: center;
 		justify-content: flex-start;
 		width: 100%;
 		background: black;


 	}

 	img.shirt {
 		max-width: 400px;
 		max-height: 400px;

 	}

 	.shirt-details-container {
 		display: flex;
 		align-items: center;
 		justify-content: center;
 		/*background: pink;*/
 		/*margin-top: 20px;*/
 		width: 100%;

 	}

 	.name-bio-icon-container {
 		/*background: salmon;*/
 	}

 	.shirt-name-container {
 		/*background: white;*/
 		color: white;
 	}

 	#shirt-name-text {
 		font-size: 30px;
 		padding-left: 1rem;
 		letter-spacing: .1rem;
 	}

 	.shirt-bio-container {
 		/*background: lightgreen;*/
 		color: white;
 		background: black;
 		height: 70px;

 	}

 	#shirt-bio-text {
 		font-size: 30px;
 		padding-left: 1rem;
 		letter-spacing: .1rem;
 		line-height: 2rem;
 	}

 	.shirt-link-container {
 		/*background: gray;*/
 	}


 	.shirt-buttons {
 		background: black;
 		display: flex;
 		align-items: center;
 		justify-content: center;
 		width: 100%;
 		padding: 1rem;
 		transition: all 2s ease-in-out;

 	}

 	.shirt-buttons:hover {
		/*display: flex;
 		align-items: center;
 		justify-content: space-between;*/
 	}

 	.main-shirt-buttons {
 		border: none;
 		background: black;
 		color: white;
 		height: 2rem;
 		transition: all .1s ease-in-out;

 	}

 	.main-shirt-buttons:hover {
 		border-bottom: 4px solid white;




 	}

 	a.share-link, a.shirt-link, a.comment-link {
 		font-size: 1.2rem;
 		color: white;
 		letter-spacing: .2rem;

 	}

 	a {
 		text-decoration: none;
 	}

 	.font-awesome-icon {
 		display: flex;
 		align-items: flex-end;
 		/*background: blue;*/
 		font-size: 40px;
 		color: white;
 	}



