<h1>Shirts Page</h1>

<!-- Main Container for all divs on page -->
<div ng-repeat="shirt in $ctrl.shirts" class="main-test-container">
	<div class="test-container">
		<img ng-src="{{shirt.image}}"/>
	</div>

	<div class="test-inside-container">
		<h2>{{ shirt.name }}</h2>
		<h4>{{ shirt.bio }}</h4>
		<a href="{{ shirt.url }}">Find Me!<a/>
	</div>
</div>

	<!-- Inside container that contains the Img with a black border -->
	<!-- <div class="test-container">
 -->
		<!-- test-inside-container will be the main the container for the image itself. -->
		<!-- <div class="test-inside-container"> -->

			<!-- <p class='test-p'> -->
				<!-- javascripts/components/homePage.html -->
			<!-- </p> -->
		<!-- </div> -->
	<!-- </div>
 -->
