.edit-shirt-page {
	font-size: 1.2rem;
}

#edit-shirt-headline {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.edit-shirt-page-inside-content {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

#textarea {
	width: 98%;
	margin-top: 1rem;
	background: #eee;
}

.edit-titles label {
	border: 3px solid transparent;
	letter-spacing: .2rem;
	transition: all .1s ease-in-out;
}

.edit-titles:hover {
	border-bottom: 3px solid #000;
}

#shirt-name,
#shirt-image,
#shirt-url
 	{
	width: 100%;
	margin: 1rem 0;
	color: red;
	transition: all .1s ease-in-out;
}

#shirt-name:hover,
#shirt-image:hover,
#shirt-url:hover
 	{
 	background: #eee;
}

#shirt-name input[type=text] {
	background: none;
	transition: all .1s ease-in-out;
	border-bottom: 3px solid transparent;
}

#shirt-name input[type=text]:hover {
	border-bottom: 3px solid #000;
}

#save-button {
	outline: none;
	background: white;
	border: none;
	font-size: 1rem;
	border-bottom: 3px solid transparent;
	transition: all .1s ease-in-out;
}

#save-button:hover {
	cursor: pointer;
	color: red;
	border-bottom: 3px solid #000;
}
