<div class="shirts-body-page-container">
	<!-- Main Container for all divs on page -->


	<div ng-repeat="shirt in $ctrl.shirts" class="main-test-container">
		<div class="test-container">





<!-- <a href="#"
socialshare
socialshare-provider="facebook"
socialshare-text="Materials Creative Co."
socialshare-hashtags="angularjs, angular-socialshare"
socialshare-url="https://quiet-journey-70591.herokuapp.com/users/sign_in">
Share me
			<div class="shirt-container">
				<a ui-sref="shirtsShow({id: shirt.id })"><img class="shirt" ng-src="{{ shirt.image }}"/></a>
			</div>

</a> -->

			<div class="shirt-container">
				<a ui-sref="shirtsShow({id: shirt.id })"><img class="shirt" ng-src="{{ shirt.image }}"/></a>
			</div>





<!-- <a href="https://www.pinterest.com/pin/create/button/">
    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>
 -->


<!-- Add the shirt buttons class to the shirts show page -->
		<div class='shirt-buttons'>
			<div class="shirt-link-container">
				<button class="main-shirt-buttons"><a class="shirt-link" data-pin-do="buttonBookmark" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a></button>
			</div>
			<div class="shirt-link-container">
				<button class="main-shirt-buttons"><a class="shirt-link" href="{{ shirt.url }}" target="_blank">Find Me!</a></button>
			</div>
			<!-- <div class="shirt-link-container">
				<button class="main-shirt-buttons"><a class="comment-link" href="#">Comments!</a></button>
			</div>
 -->		</div>
		<div class="shirt-details-container">
			<div class="test-inside-container">
				<div class="name-bio-icon-container">
					<div class="shirt-name-container">
						<h2 id="shirt-name-text">Name: {{ shirt.name }}</h2>
					</div>
					<div class="shirt-bio-container">
						<h2 id="shirt-bio-text">Bio: {{ shirt.bio }}</h2>
					</div>
				</div>
				<!-- <div class="font-awesome-icon">
					<i class="fa fa-star fa-lg"></i>
				</div> -->
			</div>
		</div>
	</div>
</div>



