<h1>Home Page</h1>

<p>
	{{ $ctrl.message }}


	{{ 5 + 5 }}
</p>
ljljljljjjjljj
<p ng-repeat="shirt in $ctrl.shirts">
	Image: {{ shirt.image }}
	<br />
	Name: {{ shirt.name }}
	<br/>
	Bio: {{ shirt.bio }}
	<br />
	Url: {{ shirt.url }}
</p>





 <h1>This is our Front end</h1>
<div class="main-test-container">
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
				javascripts/components/homePage.html
			</p>
		</div>
	</div>
	<div class="test-container">
		<div class="test-inside-container">
			<p class='test-p'>
			javascripts/components/homePage.html
			</p>
		</div>
	</div>
</div>
