/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 *= require_tree ../javascripts/components/
 *= require_tree .
 *= require_self
 */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

header {
	background: transparent;
	display: flex;
	justify-content: space-between;
	margin: 0 0 3rem 0;
	width: 100%;
	border-bottom: 3px solid black;
}
.logo-container {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 1rem 20px;

}

.logo  {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100px;
	max-height: 100px;
	transition: all .4s ease-in-out;
	/*background-image: url(logo6.svg);*/
	/*background-image: url(/assets/logo4.svg);*/


	/*background-image: url(<%= asset_path 'logo1.svg' %>);
*/	/*margin-left: 2rem;*/
	/*padding: .5rem 0 0 1.7rem;*/


}

.logo:hover {
	/*background-image: url(<%= asset_path 'logo4.svg' %>);*/
	background: white;

}

nav {
	box-sizing: border-box;
    display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	margin-right: 2rem;
    width: 100%;
	font-size: 1.5rem;
}

nav a {
	padding: 1rem;
	color: black;


}

nav a:hover {
		border-bottom: 3px solid black;
}

/* Sign up Form, Devise=> registration => new.html.erb */
/*.sign-up-container {
	max-width: 50rem;
	background: orange;
	margin: 0 auto;
	padding: 2rem;
}

#sign-up-h1 {
	background: #eee;
	text-align: center;
}

input {
	color: red;
}

.field .sign-up-email input {
	width: 300px;
	height: 30px;
	border: none;
	margin-top: 1rem;
}

 input {
	font-size: 1.5rem;
}

.sign-up-inner-container {
	display: flex;
	justify-content: center;
	background: red;
	margin-top: 1rem;
	font-size: 1.2rem;
	width: 100%;
}
*/

