* {
	box-sizing: border-box;
}

body {
		background: lightblue;

	h1 {
		font-family: Arial, sans-serif;
		color: red;

	}

 	.test-container {
 		display: flex;
 		align-items: center;
 		justify-content: center;
 		box-sizing: border-box;
 		min-height: 400px;
 		min-width: 50%;
 		border: 20px solid black;
 		background: orange;

 	}

 	.test-inside-container {
 		display: flex;
 		align-items: center;
 		width: auto;
 		height: 200px;
 		background: red;
 		border: 2px solid black;

 	}

 	p.test-p {
 		color: blue;
 	}
}
